* {
  font-size: 18px;
  color: white;
}

body{
  text-align: center;
  font-family: helvetica;
  width: 1250px;
}

.new-arrival, .header, .info, .all-three, .footer  {
 padding-left: 4%;
 padding-right: 4%;
}

/*header div*/
.header {
  background-color: black;
  font-size: 1rem;
  display: flex;
}

.logo {
  height: 1.5rem;
  padding: 0.5rem;
}

h2{
  font-size: 1rem;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
}


/*new-arrival div*/
.new-arrival {
  background-image: url("../images/moto.jpeg"
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25rem;
  font-weight: bold;
  text-align: left;
}

.inside-new {
  background-color: black;
  width: 20rem;
  padding: 2rem 3rem;
  position: relative;

  top: 9rem;
}

.new-body {
  font-size: 2rem;
  padding-top: 0.25rem;
}

/*red-navigation div*/
.red-navigation {
  background-color: firebrick;
  display: flex;
  justify-content: space-around;
}

.inside-red {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

/*all-three div*/
.all-three {
  display: flex;
  justify-content: space-between;
  padding: 3rem;
}

.three-box {
  border: 4px solid black;
  width: 30%;
  overflow: hidden;/
}

.three-img {
  max-height: 9rem;
  padding: 2rem;
  width: auto;
}

.three-p {
  background-color: black;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/*info div*/
.info {
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
  padding-bottom: 4rem;
}
.info-container {
  width: 35%;

}
.container-header {
  border: 1px solid black;
  background-color: black;
  padding: 1rem 2rem;
  text-align: left;

}

.data-color {
  color: black;
  text-align: left;
}

/*footer div*/
.footer {
  background-color: black;
  text-align: left;
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*queries*/
@media only screen and (max-width: 1024px) and (orientation: portrait){

}
